.grid-container{
    display: grid; 
    grid-template-columns: repeat(3,33.3%); 
    grid-template-areas: "item1 item2 item3" "item4 item5 .";
    grid-row-gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px; 
    position: relative; 
    padding-top: 150px;
    padding-bottom: 100px;
    place-items: center;
}

.grid-item{
    width: 90%;
    height: 580px;
    display: flex;
    flex-direction: column; 
    padding-bottom: 50px;
}

.grid-item:nth-child(1){
    grid-area: item1;
}

.grid-item:nth-child(2){
    grid-area: item2;  
}

.grid-item:nth-child(3){  
    grid-area: item3;  
}

.grid-item:nth-child(4){
    grid-area: item4;  
}

.grid-item:nth-child(5){
    grid-area: item5;  
}

.grid-item p{
    height: 10%;
}

iframe{
    width: 100%;
    height: 90%;
   
}

iframe .category-panel{
    display: none !important;
}

iframe .adsk-control {
    display: none !important;
}

.adsk-toolbar{
    display: none !important;
}

@media (max-width : 1500px){
    .grid-container{
        grid-template-columns: repeat(2,50%); 
        grid-template-areas: "item1 item2" "item3 item4" "item5 .";
    }
}

@media (max-width : 792px){
    .grid-container{
        grid-template-columns: repeat(1,100%); 
        grid-template-areas: "item1" "item2" "item3" "item4 " "item5";
    }

    #MyConytainerDiv {
        width: 115%;
        height: 115%;
        position: relative;
    }

    #MyViewerDiv {
        left: 75px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #F0F8FF;
    }
}


#MyConytainerDiv {
    width: 115%;
    height:115%;
    position: relative;
    left: -95px;
}

#MyViewerDiv {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F0F8FF;
}

.PDF{
    position: relative;
    top: 70px;
}

.password{
    text-align: center;
    top: 2%;
    z-index: 2;
    position: absolute;
    left: 45%;
}